<!DOCTYPE html>

@model FoodManager.WebUI.Models.LoginModel

@{
    Layout = "";
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Food Manager</title>
    <link rel="stylesheet" href="~/css/login.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-grid.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-reboot.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap-utilities.css" />
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.js"></script>
</head>
<body class="d-flex align-items-center py-4 bg-body-tertiary">
    <main class="form-signin w-100 m-auto">
        @using (Html.BeginForm(FormMethod.Post, true, new object { }))
        {
            <h1 class="h3 mb-3 fw-normal">Please sign in</h1>
            <div class="form-floating">
                @Html.TextBoxFor(m=>m.Login, new { @class="form-control", @placeholder="Login" })
                @Html.LabelFor(m=>m.Login)      
                <kpm-field-badge type="default" loading="false" menu-type="login" class="kpm_input-field-button kpm_gray-key-icon" style="z-index: 4 !important;"></kpm-field-badge>
            </div>
            <div class="form-floating">
                @Html.PasswordFor(m=>m.Password, new { @class="form-control", @placeholder="Password" })
                @Html.LabelFor(m=>m.Password)
                <kpm-field-badge type="default" loading="false" menu-type="login" class="kpm_input-field-button kpm_gray-key-icon" style="z-index: 4 !important;"></kpm-field-badge>
            </div>
            <input class="btn btn-primary w-100 py-2" type="submit" value="Sign in"/>
            <p class="mt-5 mb-3 text-body-secondary">©Food Manager @DateTime.Now.Date.Year</p>
        }
    </main>
</body>
</html>